@using InsuranceQuotes.Models
@model Driver

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Thank you, your quote is listed below:</h5>
        </div>
        <div class="card-body">
            <div class="row no-gutters">
                <div class="form-group col-md-12">
                    @Model.Quote
                </div> 
            </div>
        </div>
    </div>
</div>